<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><%= data.name %></title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>

  <body>
    <main>
      <div class="row">
        <div class="col s12 blue darken-2 title-container">
          <h2 class="center-align title-item blue-grey-text text-lighten-5"><%= data.name %></h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <table class="bordered striped">
              <thead>
                <tr>
                  <td>Sprite</td>
                  <td>Type</td>
                  <td>Evolves From</td>
                  <td>Pokedex Number</td>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <img src="<%= data.image_url %>" alt="<%= data.name %>" />
                  </td>
                  <td><%= data.type %></td>
                  <td><%= data.evolves_from %></td>
                  <td><%= data.id %></td>
                </tr>
              </tbody>
            </table>

            <a href="/pokemon"><-- Home</a>
          </div>
        </div>
      </div>
    </main>

    <footer class="page-footer blue darken-2">
      <div class="footer-copyright center-align blue darken-3">
        <small>Copyright © 2016 Galvanize</small>
      </div>
    </footer>

    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/materialize.min.js"></script>
  </body>
</html>
